.brand {
  border-bottom: 0;
  font-family: var(--typ-font-family-brand);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: var(--typ-letter-spacing-brand);
  text-transform: lowercase;
}

.brand--light-text {
  color: var(--colour-dark-grey);
}

@media screen and (min-width: 768px) {
  .brand {
    display: inline-block;
    flex-grow: 0;
    font-size: 48px;
    height: 40px;
    line-height: 56px;
  }
}

.first-load .brand {
  animation: fadeIn 2s both;
}
